$nav-font-size: 2.2rem;

$default-font-color: #263238;

$font-weight-small: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;

$color-primary: #681d1d;
$color-primary-light: #b71c1c;
$color-secondary: #e62a15;
$color-tertiary: #f5f5f5;
$color-black: #000000;
$color-white: #ffffff;
$color-lime: #f9fbe7;

$font-size-xsmall: 1.2rem;
$font-size-small: 1.8rem;
$font-size-medium: 2.2rem;
$font-size-large: 3.6rem;
$font-size-xlarge: 4.8rem;
$font-size-2xlarge: 5.8rem;
$font-size-3xlarge: 8.6rem;
