.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    max-width: 300px;
    cursor: pointer;
  }
  &__img-box {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }

  &__description-box {
    width: 100%;
    min-height: 10rem;
    padding: 2.5rem 1.5rem;
    background-color: $color-white;
  }
  &__item-description-list {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: $font-size-xsmall;
    font-weight: $font-weight-bold;

    &-label {
      font-size: $font-size-txsmall;
      font-weight: $font-weight-semibold;
    }
  }
}

.sub-heading-main {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}
