.main {
  &__content {
    display: inline-block;
    background-color: $color-white;
    cursor: pointer;
  }
  &__img-box {
    background-image: url("../img/recipeDetails/recipeItem.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 300px;
  }

  &__description-box {
    padding: 2.5rem 1.5rem;
  }
  &__item-description-list {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    text-align: center;

    &-label {
      font-size: $font-size-txsmall;
      font-weight: $font-weight-semibold;
    }
  }
}
