* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 48%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  // @include respond(phone) {
  //   font-size: 43.75%;
  // }

  // @include respond(smallPhone) {
  //   font-size: 35%;
  // }
}

body {
  font-family: "Poppins", sans-serif;
  // font-family: 'Rubik', sans-serif;
  background-color: #cfd8dc;
  //   @include respond(tabPort) {
  //     padding: 0;
  //   }
}
