.heading-secondary {
  font-size: $font-size-xlarge;
  font-weight: $font-weight-bold;
}

.heading-tertiary {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.footer__text {
  font-size: $font-size-medium;
  font-weight: $font-weight-small;
}

.sub-heading {
  font-size: $font-size-xsmall;
  font-weight: $font-weight-semibold;
}

.sub-heading-main {
  margin-bottom: 1rem;
}

.recipe__nutrition {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}
