.margin-top-2rem {
  margin-bottom: 2.2rem;
}
.margin-bottom-2rem {
  margin-bottom: 2.2rem;
}

.margin-top-5rem {
  margin-top: 5rem;
}

.padding-bottom-2rem {
  padding-bottom: 2.2rem;
}

.padding-top-2rem {
  padding-top: 2.2rem;
}

.center-text {
  text-align: center;
}

.margin-5rem {
  margin: 8rem 0 3rem 0;
}

.btn-margin {
  display: flex;
  gap: 2.2rem;
}
