@import "../layout/recipeDetail";

.recipe {
  padding: 0 4rem;
  &__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    row-gap: 6.4rem;
    column-gap: 2.2rem;
  }
}
